@{
    ViewData["Title"] = "Home";
}
@section Styles {
    <link rel="stylesheet" href="~/css/home.css" />
}


    <!-- Sección principal -->
    <div class="main-content">
        <h1>LLEVANDO INTERNET A TODOS LOS RINCONES</h1>
        <div class="benefits-container">
            <!-- Beneficios a la izquierda -->
            <div class="benefit-list left">
                <div class="benefit">Internet Residencial</div>
                <div class="benefit">Internet Para Negocios</div>
                <div class="benefit">Conectividad Rural</div>
                <div class="benefit">Soporte las 24/7</div>
            </div>
            <!-- Estrella central -->
            <div class="star">
                <p>Beneficios <br> Clave</p>
            </div>

            <!-- Beneficios a la derecha -->
            <div class="benefit-list right">
                <div class="benefit">Velocidad y Fiabilidad</div>
                <div class="benefit">Cobertura Extensa</div>
                <div class="benefit">Soporte Especializado</div>
                <div class="benefit">Flexibilidad de Planes</div>
            </div>
        </div>
        <p class="footer-text">“Conectando tu mundo, un clic a la vez”</p>
    </div>
</div>
